---
layout: default
class: flex
---

<style>
	main {
		margin: 0;
		flex-direction: column;
	}
	main>article { flex-grow: 2;}
	.timestamp, time { color: yellowgreen; text-align: right;}
	td .icon { position: absolute; z-index: -10; opacity: .5; top: 0.2em; left: 0.2em;}
</style>

<style media="(max-width: 1000px)">
body { flex-direction: column;}
</style>

<style media="(min-width: 1001px)">
figure>img {
	max-width: 65vw;
	min-height: 100vh;
	height: 100vh;
	max-height: 100%;
}
main { width: 100%;}
</style>

<figure>
	<img src="{{ page.image }}" onclick="window.location = '{{ page.image }}'">
</figure>

<main class="flex flexlock">
	<header class="hero section">
		{% unless page.title.blank? %}<h1 class="accent">{{ page.title }}</h1>{% endunless %}
		<nav>
			<menu><li><a href="/gallery" onclick="history.back()"><img src="/images/back.svg"> foto</a></menu>
		</nav>
	</header>

	<figcaption class="section">
		<table id="exifdata">
			<tr class="ani">{% if page.camera %}
				<td><img class="icon" src="/images/camera.svg" alt="Camera">
					{{ page.camera }}
				</td>{% endif %}{% if page.location %}
				<td><img class="icon" src="/images/location.svg" alt="Location">
					{{ page.location }}
				</td>{% endif %}
				<td class="timestamp"><time>{{ page.date | date: "%b %-d %Y, %H:%M:%S" }}</time></td>
			</tr>
		</table>{% if page.mode %}

		<table id="settings">
			<tr>
				<th class="accent">{{ page.mode | upcase }}</th>
		    	{% if page.aperture %}<td>f/{{ page.aperture }}</td>{% endif %}
		    	{% if page.sspeed %}<td>{{ page.sspeed }} seconds</td>{% endif %}
		    	{% if page.iso %}<td>ISO {{ page.iso }}</td>{% endif %}
		    	{% if page.focal %}<td>{{ page.focal }}</td>{% endif %}
			</tr>
		</table>{% endif %}
	</figcaption>

	<article class="section">
		{{ content }}
	</article>
</main>